.bg-dante{
    background-image: url(speedflow.jpg);
    background-size:cover;
    padding: 500px 100px 100px 0
}

.bg-camohoody{
    background-image: url(camo\ hoody.jpg);
    background-size:cover;
    padding: 50px 0px 50px 0
}

.bg-speedflow{
    background-image: url(x\ speedflow.jpg);
    background-size:cover;
    padding: 50px 0px 50px 0
}

.bg-supernovashoes{
    background-image: url(supernova\ shoes.jpg);
    background-size:cover;
    padding: 50px 0px 50px 0
}

.bg-kaptirshoes{
    background-image: url(kaptir\ 2.0\ shoes\ .jpg);
    background-size:cover;
    padding: 50px 0px 50px 0
}

.bg-OversprayGraphicTee{
    background-image: url(Overspray\ Graphic\ Tee.jpg);
    background-size:cover;
    padding: 20px 0px 50px 0
}

.bg-NMD_R1Shoes{
    background-image: url(NMD_R1\ Shoes.jpg);
    background-size:cover;
    padding: 50px 0px 50px 0
}

.bg-terrybiglogohoodie{
    background-image: url(terry\ big\ logo\ hoodie.jpg);
    background-size:cover;
    padding: 20px 0px 50px 0
}

.bg-AdicolorVintageBaseballCap{
    background-image: url(Adicolor\ Vintage\ Baseball\ Cap.jpg);
    background-size:cover;
    padding: 20px 0px 50px 0
}

.bg-UltraboostDNA{
    background-image: url(Ultraboost\ 4.0\ DNA.jpg);
    background-size:cover;
    padding: 50px 0px 50px 0
}

.bg-advantageshoes{
    background-image: url(advantage\ shoes.jpg);
    background-size:cover;
    padding: 50px 0px 50px 0
}

.bg-4DFWDPulseShoes{
    background-image: url(4DFWD\ Pulse\ Shoes.jpg);
    background-size:cover;
    padding: 20px 0px 50px 0
}

.bg-DODTEE{
    background-image: url(DOD\ TEE.jpg);
    background-size:cover;
    padding: 50px 0px 50px 0
}

.bg-speedflowproduct{
    background-image: url(speedflowproduct.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    padding: 500px 0px 50px 0
}